.Join {
  gap: 10rem;
  display: flex;
  padding: 0 2rem;
}

.left-j {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.left-j > hr {
  position: absolute;
  width: 10.5rem;
  border: 2px solid var(--orange);
  border-radius: 20%;
  margin: -10px 0;
}

.left-j > div {
  gap: 1rem;
  display: flex;
}

.right-j {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.email-container {
  gap: 3rem;
  display: flex;
  padding: 1rem 2rem;
  background-color: gray;
}

.email-container > input {
  border: none;
  outline: none;
  color: var(--lightgray);
  background-color: transparent;
}

::placeholder {
  color: var(--lightgray);
}

.btn-j {
  color: white;
  background-color: var(--orange);
}

@media screen and (max-width: 768px) {
  .Join {
    gap: 1rem;
    flex-direction: column;
  }
  .left-j {
    font-size: x-large;
    flex-direction: column;
  }
  .right-j {
    padding: 2rem;
  }
}
