.Programs {
  gap: 2rem;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
}

.programs-header {
  gap: 5rem;
  display: flex;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  justify-content: center;
  text-transform: uppercase;
}

.program-categories {
  gap: 1rem;
  display: flex;
}

.category {
  gap: 1rem;
  display: flex;
  padding: 2rem;
  color: white;
  flex-direction: column;
  background-color: gray;
  justify-content: space-between;
}

.category > :nth-child(1) {
  width: 2rem;
  height: 2rem;
  fill: white;
}

.category > :nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
}
.category > :nth-child(3) {
  font-size: 0.9rem;
  line-height: 25px;
}

.join-now {
  gap: 2rem;
  display: flex;
  align-items: center;
}

.join-now > img {
  width: 1rem;
}

.category:hover {
  cursor: pointer;
  background: var(--planCard);
}

@media screen and (max-width: 768px) {
  .programs-header {
    flex-direction: column;
    gap: 1rem;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .program-categories {
    flex-direction: column;
  }
}
